body {
    background-color: #0B3665 !important;
}

.full-body {
    max-width: 1100px;
    background-color: white;
    border: 5px solid white;
    border-radius: 15px;
    color: #0B3665 !important;
    font-family: 'Josefin Sans',
        sans-serif !important;
    margin: 0 auto !important;
    overflow: hidden;

}


/*=============popup start===============*/
.modal {
    border: 3px solid red;
}

.modal-content {
    border: 3px solid red !important;
}

.modal-header {
    display: block !important;
    padding: 1px 0 !important;
    margin: 9px 0px 0px 0px !important;
}

.modal-dialog {
    height: 100%;
    width: 600px;
    display: flex;
    align-items: center;
}

.modal-content {
    margin: 0 auto;
}

.modal .thankyou_message .alert {
    border: 0;
    padding: 13px !important;
    color: white;
    opacity: 100% !important;
    text-align: center;
    background-color: #0B3665 !important;
    text-shadow: none !important;
}

.modal .thankyou_message .alert:hover {
    background-color: white !important;
    color: #0B3665 !important;
    border: 1px solid #0B3665 !important;
}

.close {}

/*=============popup end===============*/


hr {
    border: 0 !important;
    height: 50px !important;
    background: url(attachments/hr.jpg) 50% 0 no-repeat !important;
    margin: -15px 0px 5px 0px !important;
}


.top {
    padding: 25px 0 15px 0 !important;
    background-color: #0B3665;
    border-radius: 15px 15px 0 0;
}

.top h3 {
    font-size: 2.8rem !important;
    font-weight: 700;
    color: #FBEF00;
    display: inline-block;
    padding: 3px 0;
    transform: scale(1, 2);

}



.top h5 {
    color: white;
}

.heading {
    padding: 0 !important;
}

.heading h3 {
    font-size: 1.3rem;
    padding: 8px 0 !important;
    background-color: #0B3665;
    color: white;

}

.heading h2 {
    font-size: 1.3rem;
    padding: 8px 0 !important;
    background-color: #0B3665;
    color: white;
    margin-top: -4px !important;
}


.heading h2 {
    font-size: 1.5rem;
}

/*=============Share button start===============*/
#share.hide {
    display: none;
}

#share {
    background-color: #0B3665;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    padding: 0 !important;
    font-size: 30px !important;
    z-index: 999;
    line-height: 1.6;
    border-radius: 50%;
    margin-right: 0px !important;
    position: fixed;
    right: 9px;
    bottom: 9px;
    opacity: 70% !important;
    cursor: pointer;
}

#share:hover {
    opacity: 100% !important;
}

#share:before {
    position: absolute;
    top: 0;
    left: 8.3px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1e0";
    color: white;
    animation: zoom 2s linear infinite !important;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

/*============= Share button End ===============*/

/*========== clock section start =============*/
#clock {
    font-family: 'Share Tech Mono', monospace;
    padding: 19px 0 12px 0 !important;
    text-align: center;
    border: 5px solid #0B3665 !important;
    width: 360px;
    line-height: 0;
    border-radius: 15px;
    margin: 0 auto !important;
}

#timeContainer1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#timeContainer2 {
    display: inline-table;
}

.inline-block {
    display: inline-block;
    font-size: 5.4rem;
    font-weight: bolder;
}

.block {
    font-size: 2rem;
    display: block;
    font-weight: bolder;
    line-height: 1;
    text-align: right;
}

#h-m-container,
#s-ap-container {
    display: inline-block;

}

#date {
    display: block;
    font-size: 2.3rem;
    line-height: 1.2;
    letter-spacing: -1px;
}

/*========== clock section end =============*/

/*=========== Routine Section Start ===============*/
.class h2 {
    font-weight: 900 !important;
}


.hooray h2,
.no-exam h2 {
    text-align: center;
    font-weight: 700;
    animation: blink 1.5s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}


.hooray img,
.no-exam img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.card {
    border: 2px solid #0B3665 !important;
    padding: 1px;
    border-radius: 5px;
}



.card .card-img-top {
    border: 1px solid transparent;
    border-radius: 7px;
}


.card-body {
    padding: 1rem 0.3rem 0.2rem 0.3rem !important;
    position: relative;
}

.card-body img {
    position: absolute;
    max-width: 110px;
    left: 50%;
    top: -23%;
    transform: translate(-50%, -23%);
    border-radius: 50%;
}

.card-title {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #3c3b37;
    margin: -0.7rem 0px 0.75rem 0 !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card .subject-name {
    margin: -0.5rem 0 0.2rem 0 !important;
    color: #73726c;
    font-size: 0.8rem;
}

.card .class-time {
    color: #be5a0e;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 0.9rem;

}

.card .password {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 0.9rem;
    margin-bottom: 0.3rem !important;
}

.btn {
    padding: 0.1rem !important;
}

.old {
    pointer-events: none;
    position: relative;
}

.old:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('attachments/b.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.now {
    opacity: 100%;
}

.class-will-start,
.class-ended {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: #0B3665;
    text-shadow: 1px 1px 11px #0B3665;
    font-size: 1.2rem;
    font-weight: 900;
    width: 70%;
}

.class-ended {
    color: #EB0000 !important;
    text-shadow: 1px 1px 20px red;
}

/*=========== Routine Section End ===============*/

/*=============  Contact me Section Start  ===============*/
.mail h2 {
    font-size: 1.8rem !important;
}

.form {
    margin: 0 auto !important;
}

.form-control {
    border: 2px solid #0B3665 !important;
}

.submit {
    width: 100% !important;
    background-color: #0B3665 !important;
    color: white !important;
    border: 2px solid #0B3665 !important;
    transition: transform 0.5s !important;
    font-weight: 600 !important;
}

.reset {
    width: 100% !important;
    background-color: red !important;
    color: white !important;
    border: 2px solid red !important;
    transition: transform 0.5s !important;
    font-weight: 600 !important;
}

.reset:hover {
    background-color: white !important;
    border: 2px solid red;
    color: black !important;

}

.submit:hover {
    background-color: white !important;
    border: 2px solid black;
    color: black !important;

}

.thankyou_message {
    font-size: 100%;
    width: 100%;
    padding: 15px 5px;
}

.alert {
    border: 2px solid #0B3665 !important;
    background-color: #0B3665;
    color: White;
}


/*=============  Contact me Section End ===============*/

/*=========== Footer Section Start ===============*/
.footer {
    padding: 5px 0;
    color: white;
    background-color: #0B3665 !important;
    border-radius: 0 0 15px 15px;
    letter-spacing: -1px;
}

.media-icons {
    display: flex;
    margin: 0 auto !important;
    padding: 0 !important;

}

.media-icons a {
    height: 35px;
    width: 35px;
    margin: 0 8px;
    text-align: center;
    line-height: 40px;
    color: #fff !important;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.media-icons a:nth-child(1) {
    background: #4267B2;
}

.media-icons a:nth-child(1):hover {
    color: #4267B2 !important;
    background: #fff;
}

.media-icons a:nth-child(2) {
    background: #1DA1F2;
}

.media-icons a:nth-child(2):hover {
    color: #1DA1F2 !important;
    background: #fff;
}

.media-icons a:nth-child(3) {
    background: #F7B300;
}

.media-icons a:nth-child(3):hover {
    color: #F7B300 !important;
    background: #fff;
}

.media-icons a:nth-child(4) {
    background: #0078D4;
}

.media-icons a:nth-child(4):hover {
    color: #0078D4 !important;
    background: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.media-icons a:nth-child(5) {
    font-size: 22px;
    background-color: #1DBF73;
    line-height: 1.5 !important;
    font-family: 'Roboto',
        sans-serif;
}

.media-icons a:nth-child(5):hover {
    color: #1DBF73 !important;
    background: #fff;
}


.footer p {
    margin-bottom: 0rem !important;
}

.footer a {
    color: #FBEF00;
    text-decoration: none !important;
}

.footer a:hover {
    color: red !important;
}

/*=========== Footer Section End===============*/

/*=========== Media Quries ===============*/
@media (max-width:768px) {
    .col-responsive {
        width: calc(100% / 2) !important;
        padding: 10px;
    }

    .top h3 {
        font-size: 1.4rem !important;
    }

    .card-body img {
        width: 55%;
    }

    hr {
        width: 100%;
    }

    #clock {
        width: 97vw !important;
    }
}

@media (min-width: 380px) and (max-width: 576px) {
    .card-body {
        padding: 1.8rem 0.3rem 0.2rem 0.3rem !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .card-body {
        padding: 2.5rem 0.3rem 0.2rem 0.3rem !important;
    }
}

@media (min-width:768px) {
    .col-responsive {
        width: calc(100% / 4) !important;
        padding: 10px;
    }

}