* {
    margin: 0 auto !important;
}

body {
    background-color: #0B3665 !important;
}

.full-body {
    max-width: 1100px;
    min-height: 100vh;
    background-color: white;
    border: 5px solid white;
    border-radius: 15px;
    color: #0B3665 !important;
    font-family: 'Josefin Sans',
        sans-serif !important;

}

.top {
    padding: 25px 0 15px 0 !important;
    background-color: #0B3665;
    border-radius: 15px;
}

.top h3 {
    font-size: 2.8rem !important;
    font-weight: 700;
    color: #FBEF00;
    display: inline-block;
    padding: 3px 0;
    transform: scale(1, 2);

}



.top h5 {
    color: white;
}

.heading {
    padding: 8px 0 !important;
    background-color: #0B3665;
    color: white;
    border-radius: 15px;

}

.heading h3 {
    font-size: 1.3rem;
}



.heading h2 {
    font-size: 1.5rem;
}

hr {
    border-top: 5px dashed #0B3665 !important;
    width: 50%;
}


/*========== clock section start =============*/
#clock {
    font-family: 'Share Tech Mono', monospace;
    padding: 19px 0 12px 0 !important;
    text-align: center;
    border: 5px solid #0B3665 !important;
    width: 350px;
    line-height: 0;
    border-radius: 15px;
}

#timeContainer1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#timeContainer2 {
    display: inline-table;
}

.inline-block {
    display: inline-block;
    font-size: 5.5rem;
    font-weight: bolder;
}

.block {
    font-size: 2rem;
    display: block;
    font-weight: bolder;
    line-height: 1;
    text-align: right;
}

#h-m-container,
#s-ap-container {
    display: inline-block;

}

#date {
    display: block;
    font-size: 2.4rem;
    line-height: 1.2;
    letter-spacing: -1px;
}

/*========== clock section end =============*/

.hooray {
    text-align: center;
    font-weight: 700;

}


.hooray img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border: 1px solid #0B3665 !important;
    padding: 1px;
    border-radius: 5px;
}


.card .card-img-top {
    border: 1px solid transparent;
    border-radius: 7px;
}


.card-body {
    padding: 1rem 0.3rem 0.2rem 0.3rem !important;
    position: relative;
}

.card-body img {
    position: absolute;
    max-width: 110px;
    left: 50%;
    top: -27%;
    transform: translate(-50%, -27%);
    border-radius: 50%;
}

.card-title {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #3c3b37;
    margin: -0.7rem 0px 0.75rem 0 !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card .subject-name {
    margin: -0.5rem 0 0.2rem 0 !important;
    color: #73726c;
    font-size: 0.8rem;
}

.card .class-time {
    color: #be5a0e;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 0.9rem;

}

.card .password {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 0.9rem;
    margin-bottom: 0.3rem !important;
}

.btn {
    padding: 0.1rem !important;
}

.old {
    pointer-events: none;
    opacity: 50%;
}

.now {
    opacity: 100%;
}

.footer {
    padding: 5px 0;
    color: white;
    background-color: #0B3665 !important;
    border-radius: 15px;
}

.footer b {
    color: #FBEF00;
}

@media (max-width:768px) {
    .col-responsive {
        width: calc(100% / 2) !important;
        padding: 10px;
    }

    .top h3 {
        font-size: 1.4rem !important;
    }

    .card-body img {
        width: 55%;
    }

    hr {
        width: 100%;
    }

}

@media (min-width:768px) {
    .col-responsive {
        width: calc(100% / 4) !important;
        padding: 10px;
    }

}