* {
    margin: 0 auto !important;
}

body {
    background-color: #0B3665 !important;
}

.full-body {
    max-width: 1100px;
    min-height: 100vh;
    background-color: white;
    border: 5px solid white;
    border-radius: 15px;
    color: #0B3665 !important;
    font-family: 'Josefin Sans',
        sans-serif !important;

}

.top {
    padding: 25px 0 15px 0 !important;
    background-color: #0B3665;
    border-radius: 15px;
}

.top h3 {
    font-size: 2.8rem !important;
    font-weight: 700;
    color: #FBEF00;
    display: inline-block;
    padding: 3px 0;
    transform: scale(1, 2);

}



.top h5 {
    color: white;
}

.heading {
    padding: 0 !important;
}

.heading h3 {
    font-size: 1.3rem;
    padding: 8px 0 !important;
    background-color: #0B3665;
    color: white;
    border-radius: 15px;

}

.heading h2 {
    font-size: 1.3rem;
    padding: 8px 0 !important;
    background-color: #0B3665;
    color: white;
    border-radius: 15px;

}


.heading h2 {
    font-size: 1.5rem;
}

/*=============Share button start===============*/
#share.hide {
    display: none;
}

#share {
    background-color: #0B3665;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    padding: 0 !important;
    font-size: 30px !important;
    z-index: 999;
    line-height: 1.6;
    border-radius: 50%;
    margin-right: 0px !important;
    position: fixed;
    right: 9px;
    bottom: 9px;
    opacity: 70% !important;
    cursor: pointer;
}

#share:hover {
    opacity: 100% !important;
}

#share:before {
    position: absolute;
    top: 0;
    left: 8.3px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1e0";
    color: white;
    animation: zoom 2s linear infinite !important;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

/*============= Share button End ===============*/

/*========== clock section start =============*/
#clock {
    font-family: 'Share Tech Mono', monospace;
    padding: 19px 0 12px 0 !important;
    text-align: center;
    border: 5px solid #0B3665 !important;
    width: 360px;
    line-height: 0;
    border-radius: 15px;
}

#timeContainer1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#timeContainer2 {
    display: inline-table;
}

.inline-block {
    display: inline-block;
    font-size: 5.4rem;
    font-weight: bolder;
}

.block {
    font-size: 2rem;
    display: block;
    font-weight: bolder;
    line-height: 1;
    text-align: right;
}

#h-m-container,
#s-ap-container {
    display: inline-block;

}

#date {
    display: block;
    font-size: 2.3rem;
    line-height: 1.2;
    letter-spacing: -1px;
}

/*========== clock section end =============*/

/*=========== Routine Section Start ===============*/
.class h2 {
    font-weight: 900 !important;
}

hr {
    border-top: 5px dashed #0B3665 !important;
    width: 50%;
}

.hooray {
    text-align: center;
    font-weight: 700;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}


.hooray img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.card {
    border: 2px solid #0B3665 !important;
    padding: 1px;
    border-radius: 5px;
}


.card .card-img-top {
    border: 1px solid transparent;
    border-radius: 7px;
}


.card-body {
    padding: 1rem 0.3rem 0.2rem 0.3rem !important;
    position: relative;
}

.card-body img {
    position: absolute;
    max-width: 110px;
    left: 50%;
    top: -27%;
    transform: translate(-50%, -27%);
    border-radius: 50%;
}

.card-title {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #3c3b37;
    margin: -0.7rem 0px 0.75rem 0 !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card .subject-name {
    margin: -0.5rem 0 0.2rem 0 !important;
    color: #73726c;
    font-size: 0.8rem;
}

.card .class-time {
    color: #be5a0e;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 0.9rem;

}

.card .password {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 0.9rem;
    margin-bottom: 0.3rem !important;
}

.btn {
    padding: 0.1rem !important;
}

.old {
    pointer-events: none;
    position: relative;
}

.old:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('attachments/b.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.now {
    opacity: 100%;
}

.overlay,
.overlay-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: Green;
    font-size: 1.2rem;
    font-weight: 900;
    width: 70%;
}

.overlay-2 {
    color: #EB0000 !important;
}

/*=========== Routine Section End ===============*/

/*=========== Footer Section Start ===============*/
.footer {
    padding: 5px 0;
    color: white;
    background-color: #0B3665 !important;
    border-radius: 15px;
}


.footer a {
    color: #FBEF00 !important;
    text-decoration: none !important;
}

.footer a:hover {
    color: red !important;
}

/*=========== Footer Section End===============*/

/*=========== Media Quries ===============*/
@media (max-width:768px) {
    .col-responsive {
        width: calc(100% / 2) !important;
        padding: 10px;
    }

    .top h3 {
        font-size: 1.4rem !important;
    }

    .card-body img {
        width: 55%;
    }

    hr {
        width: 100%;
    }

    #clock {
        width: 97vw !important;
    }
}

@media (min-width:768px) {
    .col-responsive {
        width: calc(100% / 4) !important;
        padding: 10px;
    }

}