* {
    margin: 0 auto !important;
}

body {}

.full-body {
    max-width: 1100px;
    min-height: 100vh;
    background-color: black;
    color: white;
}

.top {
    padding: 21px 0 !important;
}

.top h3 {
    font-size: 2.8rem !important;
    font-weight: 700;
    color: #FBEF00;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    padding: 3px 0;
    transform: scale(1, 2);

}



.top h5 {
    color: #00FF0C;
    font-family: 'Josefin Sans', sans-serif;
}

.heading {
    padding: 7px 0 !important;

}

.heading h3 {
    font-size: 1.3rem;
    color: #00FF0C;
    font-family: 'Josefin Sans', sans-serif;
}



.heading h2 {
    font-size: 1.5rem;
    color: #00FF0C;
    font-family: 'Josefin Sans', sans-serif;
}



.class h2 {
    padding: 0 0 7px 0;
    color: #00FF0C;
    font-family: 'Josefin Sans', sans-serif;
}

hr {
    border-top: 5px dashed #00FF0C !important;
    width: 50%;
}


/*========== clock section start =============*/
#clock {
    font-family: 'Share Tech Mono', monospace;
    padding: 7px 0 !important;
    text-align: center;
    border: 5px solid #00FF0C !important;
    width: 350px;
}

.time {
    letter-spacing: 0.05em;
    font-size: 4rem;
    line-height: 1;
    color: #00FF0C;
    font-family: 'Josefin Sans', sans-serif;

}

.date {
    letter-spacing: 0.1em;
    font-size: 2rem;

    color: #00FF0C;
    font-family: 'Josefin Sans', sans-serif;

}

/*========== clock section end =============*/

.hooray {
    text-align: center;
    font-weight: 700;
    color: #00FF0C;
    font-family: 'Josefin Sans', sans-serif;

}


.hooray img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border: 1px solid #00FF0C !important;
    padding: 1px;
    border-radius: 5px;
}


.card .card-img-top {
    border: 1px solid transparent;
    border-radius: 7px;
}


.card-body {
    padding: 1rem 0.3rem 0.2rem 0.3rem !important;
    position: relative;
}

.card-body img {
    position: absolute;
    max-width: 110px;
    left: 50%;
    top: -27%;
    transform: translate(-50%, -27%);
    border-radius: 50%;
}

.card-title {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #3c3b37;
    margin: -0.7rem 0px 0.75rem 0 !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card .subject-name {
    margin: -0.5rem 0 0.2rem 0 !important;
    color: #73726c;
    font-size: 0.8rem;
}

.card .class-time {
    color: #be5a0e;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 0.9rem;

}

.card .password {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 0.9rem;
    margin-bottom: 0.3rem !important;
}

.btn {
    padding: 0.1rem !important;
}

.old {
    pointer-events: none;
    opacity: 50%;
}

.now {
    opacity: 100%;
}

.footer {
    padding: 5px 0;
    color: #00FF0C;
    font-family: 'Josefin Sans',
        sans-serif;
}

@media (max-width:768px) {
    .col-responsive {
        width: calc(100% / 2) !important;
        padding: 10px;
    }

    .top h3 {
        font-size: 1.4rem !important;
    }

    .card-body img {
        width: 55%;
    }

    hr {
        width: 100%;
    }

}

@media (min-width:768px) {
    .col-responsive {
        width: calc(100% / 4) !important;
        padding: 10px;
    }

}